.text {
	align-content: center;
	font-family: 'Roboto Mono', serif;
	text-align: center;
	max-width: 80%;
	left: 10%;
}
	
a:link {
	color: black; 
}
	
a:visited {
	color: black;
}
	
a:hover {
	color: #B3BDB6;
}
	
a:active {
	color: black;
}

img {
	max-width: 80%;	
	left: 10%;
}
