.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	font-family: 'Nanum Gothic', regular;
	text-align: center;
	max-width: 80%;
	height: 80%;
}

.heading {
	position: relative;
	height: 20px;
	top: 50px;
}

.content {
	top: 50px;
	position: relative;
}
	
a:link {
	color: black; 
}
	
a:visited {
	color: black;
}
	
a:hover {
	color: #B3BDB6;
}
	
a:active {
	color: black;
}

img {
	max-width: 80%;
	max-height: 80%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
