.h1{
	color: white;
}
.container {

	font-family: 'Nanum Gothic', regular;

}
.heading {
	position: relative;
	height: 20px;
	top: 50px;
}


	
a:link {
	color: black; 
}
	
a:visited {
	color: black;
}
	
a:hover {
	color: #B3BDB6;
}
	
a:active {
	color: black;
}
