.h1{
	  color: rgba(248,248,255,0.9);
}
.container {
        position: relative;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	font-family: 'Nanum Gothic', regular;
	text-align: center;
	max-width: 80%;
	height: 80%;
	

}


	
a:link {
	color: black; 
}
	
a:visited {
	color: black;
}
	
a:hover {
	color: #B3BDB6;
}
	
a:active {
	color: black;
}
