.h1{
	color: white;
}
.container {

	font-family: 'Nanum Gothic', regular;

}


	
a:link {
	color: black; 
}
	
a:visited {
	color: black;
}
	
a:hover {
	color: #B3BDB6;
}
	
a:active {
	color: black;
}
